body {
    font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran';
    font-weight: 800 !important;
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bg-black {
    background-color: #000 !important;
}

.rounded-pill {
    border-radius: 5rem;
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-image: url(home-wallpaper.jpg);
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
}

header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
}

header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}

header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}

header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;
    }
    header.masthead .masthead-content .masthead-heading {
        font-size: 6rem;
    }
    header.masthead .masthead-content .masthead-subheading {
        font-size: 4rem;
    }
}

.bg-primary {
    background-color: #fec232 !important;
}

.btn-primary {
    background-color: #ffc107;
    border-color: #d39e00;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #d39e00 !important;
    border-color: #856404 !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 189, 9, 0.5);
}

.btn-secondary {
    background-color: #ff6a00;
    border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #cc5500 !important;
    border-color: #cc5500 !important;
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.muesum-img{
    width: 350px;
    height: 350px;
}

a{
    color:#d39e00;
}
a:hover {
    color: #ffc107;
    text-decoration: none;
}

.muesum-img {
    border: double 4px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f5d135,#ffffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.text-footer{
    color: #ffc107;
}

.museum-search form{
    text-align: center;
    padding: 2em;
}
.museum-search form input{
    padding: 0.5em 1em;
    border-radius: 5px;
    color: #aaa;
    border: 1px solid #ccc;
}
.museum-search form button{
    top: -2px;
    position: relative;
}

#museums .no-results{
    text-align: center;
    padding: 3em;
}
#museums .no-results strong{
    font-size:2em;
    color: #8c939a;
    display: block;
}
.results-count-text {
    font-size: .8em;
    padding: 1em;
    color: #808080;
    font-style: italic;
}